/* Add a black background color to the top navigation */
.topnav {
    background-color: #2B2D42;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #EF233C;
    color: white;
  }

  .footer {
    position:fixed;
    bottom:0;
    left:0;
    width: 100%;
    background-color: 2B2D42;
    color: white;
    text-align: left;
  }

  .myDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
  }
